body {
  background-color: rgb(234, 234, 234);
  margin-top: 4px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  border: 2px groove black;
  background-color: rgb(215, 225, 232);
}

.card-title {
  background-color: rgb(198, 198, 216);
}

.card {
  background-color: rgb(221, 231, 244);
  opacity: 0.8;
  margin-bottom: 10px;
}

#search-query:focus {
  background-color: rgb(190, 206, 213);
  outline: none;
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
